authentication = [
  {
    mechanism = "password_based"
    backend = "postgresql"
    server = "ev_otomasyon_postgres:5432"
    database = "ev_otomasyon"
    username = "ev_admin"
    password = "GudeEvPg2026!SecurePass"
    query = "SELECT password_hash, is_superuser FROM mqtt_users WHERE username = ${username} LIMIT 1"
    password_hash_algorithm {
      name = "sha256"
      salt_position = "disable"
    }
    enable = true
  }
]

